{{#if addNewAnswer}}
  <form>
    <button class="btn btn-default btn-block new-button" {{action 'save4'}}>Submit Answer</button>
    <div class="input-group">
      <span class="input-group-addon">Answer:</span>
        {{input value=ans id="ans" class="form-control" placeholder="Enter Your Answer Here"}}
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon">Answered By:</span>
        {{input value=name id="name" class="form-control" placeholder="Jane Doe"}}
    </div>
    <br>
  </form>
{{else}}
  <button class="btn btn-default btn-block new-button" {{action 'answerFormShow'}}>Submit an Answer</button>
{{/if}}
